@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

.main_sec_details .product-settings .product-title h4 {
  color: #2e2e2e;
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

.main_sec_details .product-settings .reatings-area ul,
.main_sec_details .product-settings .product-color ul,
.main_sec_details .product-settings .product-size ul,
.main_sec_details .service-nifo-area ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#cover {
  width: 100%;
}

.main_sec_details {
  background: #f6f6f6;
  padding-top: 26px;
  padding-bottom: 31px;
}

.content_box {
  border: 1px solid #dedede;
  background: #fff;
}

.setting_for_chackOut {
  padding: 53px;
}

.main_sec_details .product-settings .reatings-area ul li {
  display: inline-block;
  margin-right: -7px;
}

.main_sec_details .product-settings .reatings-area ul li.rating-count {
  color: #878787;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 7px;
}

.main_sec_details .product-settings .num-stock {
  color: #2e2e2e;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.main_sec_details .product-settings .stock-showing span {
  color: #2e2e2e;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.main_sec_details .product-settings .product-detiles-setup .title-drand {
  color: #2e2e2e;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
}

.main_sec_details .product-settings .product-detiles-setup .brand-name {
  color: #3f3f3f;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.main_sec_details .product-settings .product-color ul li {
  display: inline-block;
}

.main_sec_details .product-settings .product-size ul li {
  display: inline-block;
}

.main_sec_details .product-settings .product-color ul li label,
.main_sec_details .product-settings .product-size ul li label {
  color: #515151;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 8px 10px;
  text-align: center;
  display: inline-block;
  border-radius: 27px;
  background: #f0f0f0;
  text-transform: capitalize;
  margin-bottom: 5px;
  user-select: none;
}

.main_sec_details .product-settings .quantity-change,
.main_sec_details .product-settings .user-desition {
  width: 273px;
}

.main_sec_details .product-settings .quantity-change .cal-btn {
  width: 40px;
  height: 38px;
  text-align: center;
  display: inline-block;
  color: #6b6b6b;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  user-select: none;
  cursor: pointer;
}

.main_sec_details .product-settings .quantity-change .product-price sup {
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  vertical-align: super;
}

.main_sec_details .product-settings .quantity-change .product-price sup.sup-2 {
  font-size: 12px;
  font-weight: 400;
}

.main_sec_details .product-settings .quantity-change .product-price span {
  color: #2e2e2e;
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.addto-card-2btn button {
  display: flex;
  width: 132px;
  padding: 10px 5px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background: #2396e6;
  color: #fff;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 10px 0;
}

.addto-card-4btn button {
  display: flex;
  width: 132px;
  padding: 10px 5px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background: #00497b;
  color: #fff;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 10px 0;
}

.addto-card-3btn a {
  display: flex;
  width: 132px;
  padding: 10px 5px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #444;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
  border: 1px solid #444;
}

.service-nifo-area {
  background: #f6f6f6;
  padding-left: 52px;
  padding-right: 103px;
  padding: 22px 103px 22px 52px;
}

.main_sec_details .service-nifo-area ul li {
  display: inline-block;
  margin-left: 33px;
}

.main_sec_details .service-nifo-area ul li .icon {
  margin-right: 16px;
}

.main_sec_details .service-nifo-area ul li .text {
  color: #2e2e2e;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}

.detiles-section {
  padding: 41px;
  padding-bottom: 107px;
  border-bottom: 1px solid #dedede;
}

.detiles-text-contant .headding-text h3 {
  color: #2e2e2e;
  font-family: Roboto;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
  /* 118.182% */
  margin-bottom: 31px;
}

.detiles-text-contant .text-list ul {
  padding-left: 16px;
}

.detiles-text-contant .text-list {
  height: 261px;
  overflow-y: hidden;
}

.detiles-text-contant .text-list ul li {
  margin-bottom: 17px;
}

.detiles-text-contant .text-list ul li span {
  color: #2e2e2e;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  /* 137.5% */
}

.detiles-text-contant .readMore {
  color: #1ba9c8;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top: 31px;
  cursor: pointer;
}

.r-product {
  width: 100%;
  padding: 10px;
}

.r-product img {
  width: 100%;
}

.related-product-area .related-product-headding {
  color: #2e2e2e;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 30px;
  margin-left: -6px;
}

.related-product-area {
  padding: 37px 41px;
  padding-bottom: 84px;
}

.related-products .card-title {
  color: #2e2e2e;
  font-family: Roboto;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  margin-top: 11px;
  margin-bottom: 6px;
  /* 146.667% */
}

.related-products .card p {
  color: #8c8c8c;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 9px;
}

.addtoCardBtn {
  display: flex;
  width: 100%;
  padding: 10px 0;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background: #ececec;
  cursor: pointer;
  transition: 0.4s;
}

.service-info {
  margin-top: 36px;
  background: #fff;
}

.mb-6 {
  margin-bottom: 14px;
}
.btn-check-dtl {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  pointer-events: none;
}
.product-color label {
  cursor: pointer;
}
.product-size label {
  cursor: pointer;
}
.btn-check-dtl:checked + .btn12 {
  background: #2396e6 !important;
  color: #fff !important;
}

.addto-card-2btn .btn:hover {
  background-color: #087fd1;
  color: #fff;
}

.addto-card-4btn .btn:hover {
  background: #013b63 !important;
  color: #fff !important;
}

.addto-card-3btn .btn:hover {
  border: 1px solid #2396e6 !important;
  color: #2396e6 !important;
}

.addto-card-3btn .btn:hover path {
  fill: #2396e6;
}

.related-products .card {
  margin-bottom: 24px;
}

.addtoCardBtn:hover {
  background: #087fd1 !important;
  color: #fff;
}

#zoom-view {
  width: 100%;
  height: 100%;
}
.showing_image {
  cursor: pointer;
}
.showing_image:hover .lanse {
  display: block;
}
#zoomViewContainer {
  display: none;
  position: absolute;
  z-index: 1;
  width: 100%;
}
.lanse {
  display: none;
  width: 120px;
  height: 80px;
  position: absolute;
  /* transform: translate(-50%, -50%); */
}

#sliderIMG {
  max-width: 455px;
  margin: auto;
  display: flex;
  overflow-x: hidden;
  flex-wrap: nowrap;
}
.sub_img {
  width: 76px;
}
.other-image img {
  width: 100%;
  user-select: none;
}
.provious {
  position: absolute;
  left: -16px;
  top: 10px;
  z-index: 1;
  cursor: pointer;
}
.next {
  position: absolute;
  right: -16px;
  top: 10px;
  z-index: 1;
  cursor: pointer;
}
/* #sliderIMG > :first-child {
  padding-left: 0;
} */
@media screen and (max-width: 1199px) {
  .service-nifo-area {
    padding: 22px 0 22px 0;
  }
  .main_sec_details .service-nifo-area ul li {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 767px) {
  .main_sec_details .product-settings .product-title h4 {
    color: #2e2e2e;
    font-family: "Roboto", sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-top: 30px;
  }
}
@media screen and (min-width: 768px) {
  .related-products .row > * {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) * 0.2);
    padding-left: calc(var(--bs-gutter-x) * 0.2);
    margin-top: var(--bs-gutter-y);
  }
  .related-products .col-lg-2 {
    flex: 1;
  }
}

@media screen and (max-width: 500px) {
  .setting_for_chackOut {
    padding: 16px;
  }

  .detiles-section {
    padding: 16px;
  }

  .related-product-area {
    padding: 37px 16px;
    padding-bottom: 20px;
  }
}
